/*
* 6.0 Theme RTL
* -----------------------------------------------------------------------------
*/
.theme-rtl {
  text-align: right;
}
.theme-rtl header .navbar-header {
  float: right !important;
}
.theme-rtl header .noo-main-menu {
  float: left !important;
}
.theme-rtl header .noo-main-menu .navbar-nav li > .sub-menu {
  left: auto;
  right: 0;
}
.theme-rtl header .noo-main-menu .navbar-nav li > .sub-menu li .sub-menu {
  right: 70%;
  left: auto;
}
.theme-rtl header .noo-main-menu .navbar-nav li > .sub-menu li:hover .sub-menu {
  right: 100%;
}
.theme-rtl header .noo-main-menu .navbar-nav li:hover .sub-menu {
  top: 100%;
}
.theme-rtl form input,
.theme-rtl form select,
.theme-rtl form textarea {
  text-align: right;
}
.theme-rtl #comments ol .comment-wrap .comment-img,
.theme-rtl #comments li .comment-wrap .comment-img {
  float: right;
}
.theme-rtl #comments ol .comment-block,
.theme-rtl #comments li .comment-block {
  padding-right: 110px;
  padding-left: 0;
}
/* RTL Home 1, 2, 3 */
.rtl .noo-class-slider-shortcode .style_title-2.noo-theme-wraptext .wrap-title {
  text-align: right;
}
.rtl .noo-class-slider-shortcode.style2 .grid .posts-loop-content .loop-item-content .loop-item-trainer {
  left: 10%;
  right: auto;
}
.rtl .noo-class-slider-shortcode.style2 .grid .posts-loop-content .loop-item-content .loop-item-title {
  text-align: right;
}
.rtl .noo-class-slider-shortcode.style2 .grid .posts-loop-content .loop-item-content .content-meta {
  display: inline-block;
}
.rtl .noo-class-slider-shortcode.style2 .grid .posts-loop-content .loop-item-content .content-meta .meta-date {
  margin: 0 0px 0px 10px;
}
.rtl .noo-class-schedule .noo-filters ul li {
  float: right;
}
.rtl .noo-class-schedule .noo-filters ul li a:before {
  right: auto;
  left: 0;
}
.rtl .noo-class-schedule .noo-filters ul li:last-child a:before {
  right: 0;
  left: auto;
}
.rtl .noo-trainer-shortcode .style_title-2.noo-theme-wraptext {
  text-align: right;
}
.rtl .noo-trainer-shortcode .slider .trainer-tag-wrap .trainer-bio .trainer-info .trainer-social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.rtl .noo-trainer-shortcode .slider .trainer-tag-wrap .owl-nav .owl-prev {
  right: -50px;
  left: auto;
}
.rtl .noo-trainer-shortcode .slider .trainer-tag-wrap .owl-nav .owl-next {
  left: -50px;
  right: auto;
}
.rtl .noo-contact-form-7.style-2 .wpcf7-form .hermosa-date-block .fa-calendar-o {
  left: 15px;
}
.rtl .recent-new-wrap .recent-new-content.style-1 .noo-blog-meta {
  padding-right: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.rtl .recent-new-wrap .recent-new-content.style-1 .noo-blog-entry {
  text-align: right;
}
.rtl .recent-new-wrap .recent-new-content.style-1 .noo-blog-footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.rtl .recent-new-wrap .recent-new-content.style-2 .noo-blog-entry {
  text-align: right;
}
.rtl .recent-new-wrap .owl-nav .owl-next {
  left: -20px;
  right: auto;
}
.rtl .recent-new-wrap .owl-nav .owl-prev {
  right: -20px;
  left: auto;
}
.rtl .sc-noo-product-wrap .grid-mansory .noo-product-wraper .noo-product-column-wrap .noo-product-wrap {
  text-align: right;
}
.rtl .sc-noo-product-wrap .grid-mansory .yith-wcwl-add-to-wishlist a:before {
  left: 18px;
}
.rtl .sc-noo-product-wrap .grid-mansory .noo-action-button-shop a.add_to_cart_button {
  font-size: 0;
}
.rtl .sc-noo-product-wrap .grid-mansory .noo-action-button-shop a.add_to_cart_button:before {
  margin-right: -15px !important;
  font-size: 20px;
}
.rtl .sc-noo-product-wrap .grid-mansory .noo-action-button-shop a.added_to_cart:before {
  margin-right: -15px;
  font-size: 20px;
}
.rtl .service-info-block .service-icon-buzz {
  padding-left: 30px;
  padding-right: 0px;
}
.rtl .service-info-block .service-icon-buzz:hover {
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}
.rtl .open-hours-video .noo-video .thumb_image {
  left: auto;
}
.rtl .pricing-plans-img .wpb_single_image .vc_single_image-wrapper {
  right: -80px;
}
.noo-header .navbar-wrapper .navbar-header5 .noo-top-left-widget {
  left: 200px;
  right: unset;
}
@media screen and (max-width: 1200px) {
  .noo-header .navbar-wrapper .navbar-header5 .noo-top-left-widget {
    left: 100px;
    right: unset;
  }
}
@media screen and (max-width: 991px) {
  .noo-header .navbar-wrapper .navbar-header5 .noo-top-left-widget {
    left: 0;
  }
}
.navbar-header5 .navbar-header {
  left: unset;
  right: 0%;
}
.noo-header .navbar-header4 .noo-left-menu {
  padding-left: 0;
}
.noo-header .navbar-header4 .noo-right-menu {
  padding-right: 0;
}
.noo-header.fixed_top.fixed-top-eff .navbar-header4 .noo-right-menu {
  padding-right: 90px;
  padding-left: 0;
}
.noo-header.fixed_top.fixed-top-eff .navbar-header4 .noo-left-menu {
  padding-left: 90px;
  padding-right: 0;
}
/*
Theme Name: Noo Hermosa
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See: https://codex.wordpress.org/Right_to_Left_Language_Support
*/
body,
a,
label,
h1,
h2,
h3,
h4,
h5,
h6,
input,
input[placeholder],
[placeholder],
*[placeholder],
input[type="text"],
[type="text"],
*[type="text"],
[data-placeholder],
li,
ul,
textarea,
table,
thead,
tr,
th {
  direction: rtl;
  unicode-bidi: embed;
}
select > caption {
  text-align: right;
}
select > popup > option {
  text-align: left;
}
/**
 * Navbar
 */
.navbar-brand {
  float: right;
}
.navbar-toggle {
  float: left;
}
.noo-header .noo-top-right-widget {
  left: 30px;
  right: auto;
  top: 26px;
}
.noo-header.header-logo-transparent .noo-top-right-widget {
  left: 45px;
  right: auto;
}
.noo-header.header-logo-transparent .noo-top-left-widget {
  left: auto;
  right: 45px;
}
.noo-header.header-logo-transparent .noo-left-menu {
  padding-left: 160px;
  padding-right: 0;
}
.noo-header.header-logo-transparent .noo-right-menu {
  padding-left: 0;
  padding-right: 160px;
}
.noo-header .noo-top-left-widget {
  left: auto;
  right: 30px;
  top: 28px;
}
.noo-header .noo-left-menu {
  float: right;
  padding-right: 0;
  padding-left: 125px;
}
.noo-header .noo-right-menu {
  float: left;
  padding-left: 0px;
  padding-right: 125px;
}
.noo-header .noo-top-left-widget a i {
  padding-right: 0;
  padding-left: 14px;
}
.noo-main-menu .navbar-nav li {
  float: right;
}
.noo-main-menu .navbar-nav li > .sub-menu {
  left: auto;
  right: 0;
}
.noo-header .noo-top-right-widget a i {
  padding-left: 14px;
  padding-right: 0;
}
.noo-cart-count {
  direction: ltr;
}
@media (min-width: 992px) {
  .navbar-header {
    float: right;
  }
}
@media screen and (max-width: 991px) {
  .noo-header .noo-top-left-widget {
    right: auto;
    left: 30px;
  }
  .off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse > li > a {
    padding: 6px 50px;
  }
  .off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li.menu-item-has-children i {
    top: 4px;
  }
}
.noo-page-heading .wrap-page-title:after {
  left: auto;
  right: 0;
}
/**
 * Shortcode
 */
.noo-filters ul li {
  float: right;
}
.noo-filters ul li:first-child a:before {
  left: 0;
  right: auto;
}
.noo-filters ul li a:before {
  left: auto;
  right: 0;
}
.export-timetable {
  text-align: left;
}
.export-timetable a i {
  margin: 3px 0 0 5px;
}
.noo-counter-wrap .noo-counter-content {
  float: right;
  padding-left: 0;
  padding-right: 30px;
  margin-left: 0;
  margin-right: 38px;
}
.noo-counter-wrap .noo-counter-content:before {
  left: auto;
  right: 0;
}
.style_2 .our-blog-item .noo-blog-entry {
  margin-left: auto;
  margin-right: 50px;
  padding-right: 30px;
  padding-left: 0;
}
.style_2 .our-blog-item .noo-blog-footer {
  margin-left: auto;
  margin-right: 50px;
  padding-right: 30px;
  padding-left: 0;
}
.style_2 .our-blog-item .noo-blog-footer .noo-readmore {
  float: right;
}
.style_2 .our-blog-item .noo-blog-footer .comment-meta {
  float: left;
}
.style_2 .our-blog-item .noo-blog-footer .comment-meta span {
  float: left;
}
.style_2 .our-blog-item .noo-blog-footer .comment-meta span:first-child {
  padding-right: 20px;
  padding-left: 0;
}
.style_2 .our-blog-item .noo-blog-footer .comment-meta i {
  padding-left: 8px;
  padding-right: 0;
}
.style_2 .our-blog-item .noo-blog-footer .noo-readmore:before {
  content: "\f360";
  padding-left: 10px;
  padding-right: 0;
  float: right;
}
.our-blog-item .noo-blog-meta .comment-meta span:first-child {
  padding-left: 20px;
  padding-right: 0;
}
.our-blog-item .noo-blog-meta .comment-meta i {
  padding-left: 8px;
  padding-right: 0;
}
.our-blog-item .noo-blog-footer a,
.our-blog-item .noo-blog-meta .comment-meta {
  float: left;
}
.our-blog-item .noo-blog-footer span,
.our-blog-item .noo-blog-meta .cats-links {
  float: right;
}
.noo-info-wrap .icon {
  float: right;
}
.noo-info-wrap .content {
  padding: 5px 75px 0 0;
}
.noo-find-event-wrap span i {
  left: 35px;
  right: auto;
}
.sc-noo-event-slider-wrap .swiper-slide-active .item-body .learn-more {
  left: 30px;
  right: auto;
}
.sc-noo-event-slider-wrap .swiper-slide-active .item-body .noo-event-meta {
  float: right;
}
.sc-noo-event-slider-wrap .swiper-slide-active .item-body .noo-event-meta span i {
  padding-left: 10px;
  padding-right: 0px;
}
.noo-mailchimp .noo-mailchimp-left {
  float: right;
}
.noo-mailchimp .noo-mailchimp-right {
  float: left;
}
.sc-noo-product-wrap.woocommerce .products.shop-grid div.product .noo-action-button-shop a.add_to_cart_button,
.sc-noo-product-wrap.woocommerce .products.shop-grid div.product .noo-action-button-shop a.product_type_variable.add_to_cart_button {
  text-indent: 18px;
}
.sc-noo-product-wrap .yith-wcwl-add-to-wishlist a:before {
  left: -43px;
}
.sc-noo-product-wrap .yith-wcwl-add-to-wishlist a {
  text-indent: 60px;
}
.noo-icon-wrap .noo-icon-body .icon-text {
  float: left;
}
.noo-icon-wrap.start .noo-icon-body .icon-text {
  float: right;
}
.noo-class-slider-shortcode .grid .posts-loop-content .loop-item-content .loop-item-trainer-name {
  float: right;
  margin-left: 0;
  margin-right: 16px;
}
.noo-contact-form input[type="text"],
.noo-contact-form input[type="email"],
.noo-contact-form textarea,
.noo-contact-form-7 .wpcf7-form input:not([type='submit']),
.noo-contact-form-7 .wpcf7-form select:not([multiple]),
.noo-contact-form-7 .wpcf7-form textarea {
  direction: rtl;
}
.noo-contact-form-7 .wpcf7-form input[type='submit'] {
  float: right;
}
.noo-contact-form-7 .wpcf7-form select:not([multiple]) {
  background-position: left center;
}
.noo-class-schedule-shortcode .fc-month-view .fc-body .fc-popover .fc-event .fc-ribbon,
.noo-class-schedule-shortcode .fc-month-view .fc-body .fc-content-skeleton .fc-event .fc-ribbon {
  right: -1px;
  left: auto;
}
.noo-class-schedule-shortcode .fc-month-view .fc-day-number span {
  float: right;
}
.noo-event-calendar-wrap .fc-basic-view .fc-day-number {
  text-align: right;
}
.noo-event-calendar-wrap .fc-toolbar .fc-button .fc-icon-right-single-arrow:after {
  content: '\f3cf';
}
.noo-event-calendar-wrap .fc-toolbar .fc-button .fc-icon-left-single-arrow:after {
  content: '\f3d3';
}
/**
 * Widget
 */
.noo-sidebar h4.widget-title .wrap-title:after {
  left: auto;
  right: 0;
}
.noo-sidebar .woocommerce-product-search:after,
.noo-sidebar .widget_search form:after {
  left: 15px;
  right: auto;
}
.noo-sidebar .widget_categories ul li {
  text-align: left;
}
.noo-sidebar .widget_categories ul li a {
  float: right;
  padding-left: 0;
  padding-right: 16px;
}
.noo-sidebar .widget_product_categories > ul > li a:before,
.noo-sidebar .widget_categories > ul > li a:before {
  left: auto;
  right: 0;
}
.noo-sidebar .widget_product_categories > ul > li > ul,
.noo-sidebar .widget_categories > ul > li > ul {
  margin: 0 25px 0 0;
}
.noo-sidebar .widget_product_categories > ul > li a,
.noo-sidebar .widget_categories > ul > li a {
  padding-left: 0;
  padding-right: 16px;
}
.post_list_widget li a img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.post_list_widget li a:before {
  left: auto;
  right: 0;
}
.post_list_widget li:after,
.post_list_widget li a:after {
  clear: both;
}
.post_list_widget li a:hover:before {
  left: auto;
  right: 40px;
}
.wrap-footer .textwidget dt {
  float: right;
}
.wrap-footer .textwidget dd {
  float: left;
  margin-right: 0;
  margin-left: auto;
}
.mc_footer input[type="submit"] {
  right: auto;
  left: 0;
  text-indent: -150px;
}
.mc_footer i {
  right: auto;
  left: 20px;
  -webkit-transform: rotate(260deg);
  -ms-transform: rotate(260deg);
  -o-transform: rotate(260deg);
  transform: rotate(260deg);
}
.noo_event_box_author .noo-thumbnail-author {
  float: right;
}
.noo_event_box_author .noo-name-author,
.noo_event_box_author .noo-position-author {
  padding: 13px 90px 0 0;
}
.widget-search-classes .widget-class-filter.search-class-weekday label input[type="checkbox"] {
  margin: -2px 0 0 8px;
}
.widget-single-class-sidebar .class-info-sidebar .clearfix span,
.widget-single-class-sidebar .class-info-sidebar .dl-horizontal dd span,
.widget-single-class-sidebar .class-info-sidebar .noo-container span,
.widget-single-class-sidebar .class-info-sidebar .noo-container-fluid span,
.widget-single-class-sidebar .class-info-sidebar .noo-row span,
.widget-single-class-sidebar .class-info-sidebar .form-horizontal .form-group span,
.widget-single-class-sidebar .class-info-sidebar .btn-toolbar span,
.widget-single-class-sidebar .class-info-sidebar .btn-group-vertical > .btn-group span {
  float: left;
  margin-left: auto;
  margin-right: 5px;
}
.widget-single-class-sidebar .class-info-sidebar i,
.widget-single-class-sidebar .class-info-sidebar i.ion-android-arrow-forward {
  margin-left: 10px;
  margin-right: 0;
  float: right;
}
.noo-instagram ul li a:after {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  -ms-transform: translate(50%, -50%) rotate(180deg);
  -o-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
}
.noo-instagram ul li a:hover:after {
  -webkit-transform: translate(0%, -50%) rotate(180deg);
  -ms-transform: translate(0%, -50%) rotate(180deg);
  -o-transform: translate(0%, -50%) rotate(180deg);
  transform: translate(0%, -50%) rotate(180deg);
}
.widget_noo_infomation .noo-custom-menu {
  direction: ltr;
}
.widget_noo_infomation .noo-custom-menu a:before {
  content: none;
}
.widget_noo_infomation .noo-custom-menu a:after {
  content: "\f111";
  color: #dddddd;
  font-size: 5px;
  letter-spacing: 0.2px;
  font-family: "FontAwesome";
  position: absolute;
  left: 10px;
  top: 17px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/**
 * Single
 */
.single-post .item-info span,
.category .item-info span,
.blog .item-info span,
.search .item-info span,
.tag .item-info span,
.author .item-info span {
  float: right;
  padding-left: 16px;
  padding-right: 0;
}
.entry-header .item-info:after {
  clear: both;
  display: table;
  content: '';
}
.single-post .action-like:before,
.category .action-like:before,
.blog .action-like:before,
.search .action-like:before,
.tag .action-like:before,
.author .action-like:before {
  padding-left: 5px;
  padding-right: 0;
}
.single-post .item-info span i,
.category .item-info span i,
.blog .item-info span i,
.search .item-info span i,
.tag .item-info span i,
.author .item-info span i {
  padding-left: 6px;
  padding-right: 0;
}
.single-post .entry-content blockquote:before,
.category .entry-content blockquote:before,
.blog .entry-content blockquote:before,
.search .entry-content blockquote:before,
.tag .entry-content blockquote:before,
.author .entry-content blockquote:before,
.single-noo_class .hentry .content-wrap blockquote:before,
.single-noo_trainer .trainer-content .content blockquote:before {
  left: auto;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.single-post .entry-content blockquote,
.category .entry-content blockquote,
.blog .entry-content blockquote,
.search .entry-content blockquote,
.tag .entry-content blockquote,
.author .entry-content blockquote {
  margin: 22px 66px 26px 0;
}
.single-post .entry-content ul li:before,
.category .entry-content ul li:before,
.blog .entry-content ul li:before,
.search .entry-content ul li:before,
.tag .entry-content ul li:before,
.author .entry-content ul li:before {
  content: none;
}
.single-post .entry-content ul li:after,
.category .entry-content ul li:after,
.blog .entry-content ul li:after,
.search .entry-content ul li:after,
.tag .entry-content ul li:after,
.author .entry-content ul li:after {
  color: #e182a8;
  content: "\f375";
  font-size: 16px;
  line-height: 30px;
  font-family: "Ionicons";
  margin: 0 0 0 10px;
  letter-spacing: 1px;
}
.single-post .entry-footer .tags-links,
.category .entry-footer .tags-links,
.blog .entry-footer .tags-links,
.search .entry-footer .tags-links,
.tag .entry-footer .tags-links,
.author .entry-footer .tags-links {
  float: right;
}
.single-post .entry-footer .tags-links i,
.category .entry-footer .tags-links i,
.blog .entry-footer .tags-links i,
.search .entry-footer .tags-links i,
.tag .entry-footer .tags-links i,
.author .entry-footer .tags-links i {
  padding-left: 6px;
  padding-right: 0;
}
.single-post .entry-footer .single-social,
.category .entry-footer .single-social,
.blog .entry-footer .single-social,
.search .entry-footer .single-social,
.tag .entry-footer .single-social,
.author .entry-footer .single-social {
  float: left;
}
.hentry .entry-footer span {
  margin-left: 15px;
  margin-right: 0;
}
.meta-author img {
  float: right;
}
.meta-author .box-author-info {
  float: left;
}
.noo-post-nav .prev-post {
  float: right;
}
.noo-post-nav .next-post {
  float: left;
}
.noo-post-nav .prev-post a:after {
  content: "\f101";
  padding-left: 8px;
  padding-right: 0;
}
.noo-post-nav .next-post a:before {
  content: "\f100";
  padding-left: 0;
  padding-right: 8px;
}
.noo-post-nav .next-post a:after,
.noo-post-nav .prev-post a:before {
  content: none;
}
#comments .comments-title:after,
#comments #respond .comment-reply-title:after {
  left: auto;
  right: 0;
}
#comments ol > li .comment-wrap .comment-img,
#comments ul > li .comment-wrap .comment-img {
  float: right;
}
#comments ol > li .comment-wrap .comment-block,
#comments ul > li .comment-wrap .comment-block {
  padding-left: 0;
  padding-right: 100px;
}
#comments ol > li .comment-wrap .comment-block .comment-header a.comment-edit-link,
#comments ul > li .comment-wrap .comment-block .comment-header a.comment-edit-link {
  margin-left: 0;
  margin-right: 12px;
}
#comments ol > li .comment-wrap .comment-block .comment-header:after {
  clear: both;
  display: table;
  content: '';
}
#comments ol > li .comment-wrap .comment-block .comment-content {
  margin-top: -40px;
}
#comments ol > li .comment-wrap .comment-block .comment-header cite,
#comments ul > li .comment-wrap .comment-block .comment-header cite {
  line-height: 27px;
}
#comments ol > li .comment-wrap .comment-block .comment-header cite {
  float: right;
}
#comments ol > li .children,
#comments ul > li .children {
  margin: 18px 100px -30px 0;
}
.logged-in-as {
  direction: ltr;
  text-align: right;
}
/**
 * WC
 */
.woocommerce-page .page-heading-info {
  float: right;
}
.woocommerce #payment ul.payment_methods li {
  text-align: right;
}
.woocommerce #payment #place_order {
  float: left;
}
.woocommerce th {
  float: right;
}
.woocommerce-before-shop-loop .noo-button-header-shop {
  float: left;
  margin-left: 0;
  margin-right: 32px;
}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: right;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: left;
}
.woocommerce .products.shop-grid div.product .noo-action-button-shop a.add_to_cart_button,
.woocommerce .products.shop-grid div.product .noo-action-button-shop a.added_to_cart {
  text-indent: -118px;
}
.yith-wcwl-add-to-wishlist a:before {
  left: 17px;
  top: 1px;
}
.yith-wcwl-add-to-wishlist a {
  text-indent: 100px;
}
.woocommerce span.onsale {
  left: auto;
  right: -60px;
}
.woocommerce nav.woocommerce-pagination ul li {
  float: right;
}
.woocommerce .products.shop-grid div.product .noo-action-button-shop a.product_type_variable.add_to_cart_button {
  text-indent: -146px;
}
.woocommerce .products.shop-list .product .noo-product-thumbnail {
  float: right;
}
.woocommerce .products.shop-list .product .noo-action-button-shop {
  text-align: right;
}
.woocommerce .products.shop-list .product .noo-action-button-shop a {
  margin: 0 0 0 12px;
}
.woocommerce table.wishlist_table thead th,
.woocommerce table.wishlist_table thead th,
.woocommerce table.cart thead th,
.woocommerce table.shop_table thead th {
  float: none;
}
.woocommerce table.wishlist_table tbody td,
.woocommerce table.wishlist_table tbody td,
.woocommerce table.cart tbody td,
.woocommerce table.shop_table tbody td {
  padding-right: 10px;
}
/**
   * Single
   */
.noo-single-product .noo-images {
  float: right;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: left;
}
.noo-single-product .entry-summary {
  padding: 0 45px 0 0;
}
.noo-single-product .noo-images .noo-image-slider-wrap {
  float: right;
  left: auto;
  right: -70px;
}
.woocommerce div.product form.cart div.quantity,
.woocommerce div.product form.cart .button {
  float: right;
  margin: 0 0 0 4px;
}
.noo-single-product .entry-summary .yith-wcwl-add-to-wishlist a,
.yith-wcwl-add-to-wishlist,
.woocommerce-cart table.cart .actions .continue,
.noocart-coupon {
  float: right;
}
.woocommerce table.wishlist_table tbody td,
.woocommerce table.wishlist_table tbody td,
.woocommerce table.cart tbody td,
.woocommerce table.shop_table tbody td {
  text-align: right;
}
.woocommerce table.wishlist_table thead th.product-name,
.woocommerce table.wishlist_table thead th.product-name,
.woocommerce table.cart thead th.product-name,
.woocommerce table.shop_table thead th.product-name {
  padding-left: 0px;
  padding-right: 25px;
}
.woocommerce table.shop_table,
.wishlist_table tr td.product-thumbnail,
.wishlist_table tr td.product-name,
.wishlist_table tr td.wishlist-name,
.wishlist_table tr td.wishlist-privacy,
.woocommerce table.wishlist_table tfoot td {
  text-align: right;
}
.woocommerce .woocommerce-product-rating .star-rating {
  float: right;
}
.noo-single-product .noo-social-share span {
  margin-left: 15px;
  margin-right: 0;
}
.woocommerce .star-rating {
  float: left;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  float: right;
  left: auto;
  right: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
  float: right;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 0 90px 0 0;
}
/**
 * Event
 */
.noo-event-filter-wrap .noo-event-filter-search:after {
  left: 15px;
  right: auto;
}
.archive-noo-event-head .noo-event-button {
  float: left;
  margin-left: 0;
  margin-right: 32px;
}
.noo-archive-event-footer .readmore {
  float: left;
}
.noo-single-event-head .noo-event-meta span i {
  padding-left: 5px;
  padding-right: 0;
}
.noo-single-event-head .noo-event-meta span {
  float: right;
  padding: 0 0 0 15px;
}
.noo-single-event-head .noo-event-meta:after {
  clear: both;
  content: '';
  display: table;
}
/**
 * trainers
 */
.single-noo_trainer .hentry .trainer-info .trainer-description .text-bio,
.single-noo_trainer .hentry .trainer-info .trainer-description .noo-progress-bar {
  float: left;
}
.single-noo_trainer .noo-progress-bar .noo-single-bar .noo-bar {
  left: auto;
  right: 0;
}
.single-noo_trainer .noo-progress-bar .noo-single-bar .label-bar .noo-label-units {
  left: -74px;
  right: auto;
}
.single-noo_trainer .hentry .view-class {
  margin-left: 0;
  margin-right: 30px;
}
.single-noo_trainer .trainer-content .content ul li:before {
  padding-left: 12px;
  padding-right: 0;
}
@media screen and (min-width: 992px) {
  .single-noo_trainer .hentry .view-class {
    left: 30px;
    right: auto;
  }
}
/**
 * Class
 */
.posts-loop-title .title-have {
  padding-left: 0px;
  padding-right: 30px;
}
.posts-loop-title .loop-view-mode {
  left: 30px;
  right: auto;
}
.posts-loop-content .loop-item-content .loop-item-trainer {
  left: auto;
  right: -45px;
}
.posts-loop-content .loop-item-content {
  padding: 30px 70px 20px 30px;
}
.posts-loop-content .loop-item-content .content-meta span {
  float: right;
}
.posts-loop-content .loop-item-content .content-meta i {
  margin-left: 5px;
  margin-right: 0;
  float: right;
  height: 24px;
  line-height: 24px;
}
.posts-loop-content .loop-item-content .loop-item-trainer.first {
  margin-right: -18px;
}
.posts-loop-content .loop-item-wrap:hover .loop-item-trainer.first {
  margin-right: 0px;
}
.posts-loop-content .loop-item-wrap:hover .loop-item-trainer.second {
  margin-right: 23px;
}
.grid .posts-loop-content .loop-item-content .loop-item-trainer {
  left: auto;
  right: 30%;
}
/**
   * single
   */
.single-noo_class .hentry .content-header .content-meta {
  float: right;
}
.single-noo_class .hentry .content-header .content-meta i {
  margin-left: 5px;
  margin-right: 0;
}
.single-noo_class .hentry .content-header .content-meta span.trainer-info {
  float: right;
}
.single-noo_class .hentry .content-header .content-meta span {
  display: inline-block;
  margin-left: 25px;
  margin-right: 0;
}
.single-noo_class .timetable_week h4:before {
  left: auto;
  right: 0;
}
/**
 * Font
 */
.fa-angle-double-right:before {
  content: "\f100";
}
.fa-angle-double-left:before {
  content: "\f101";
}
.fa-long-arrow-right:before {
  content: "\f177";
}
.fa-long-arrow-left:before {
  content: "\f178";
}
.ion-android-arrow-forward:before {
  content: "\f2ca";
}
.ion-android-arrow-back:before {
  content: "\f30f";
}
/**
 * Carousel
 */
.owl-carousel {
  direction: ltr;
}
/**
 * Bootstrap
 */
.form-group .control-label {
  float: right;
}
.form-group .checkbox {
  float: right;
}
@media (min-width: 992px) {
  .noo-md-1,
  .noo-md-2,
  .noo-md-3,
  .noo-md-4,
  .noo-md-5,
  .noo-md-6,
  .noo-md-7,
  .noo-md-8,
  .noo-md-9,
  .noo-md-10,
  .noo-md-11,
  .noo-md-12 {
    float: right;
  }
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: right;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: right;
  }
}
.chosen-choices li.search-field {
  float: right;
  clear: both;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: right;
}
table thead tr th {
  text-align: right;
}
.pagination {
  text-align: left;
}
.pull-left {
  float: right !important;
}
.pull-right {
  float: left !important;
}
.noo-event-slider-body .address .ion-ios-location {
  float: right;
  padding-right: 0px;
  padding-left: 5px;
}
.noo-class-slider-shortcode .grid .posts-loop-content .loop-item-content .loop-item-action {
  float: left;
  margin: 30px 0px 18px 20px;
}
.noo-class-slider-shortcode .grid .posts-loop-content .loop-item-content .loop-item-trainer {
  float: right;
  margin: 16px 20px 18px 0px;
}
.widget-single-class-sidebar .class-info-sidebar .clearfix.tag-days .wrap-days,
.widget-single-class-sidebar .class-info-sidebar .dl-horizontal dd.tag-days .wrap-days,
.widget-single-class-sidebar .class-info-sidebar .noo-container.tag-days .wrap-days,
.widget-single-class-sidebar .class-info-sidebar .noo-container-fluid.tag-days .wrap-days,
.widget-single-class-sidebar .class-info-sidebar .noo-row.tag-days .wrap-days,
.widget-single-class-sidebar .class-info-sidebar .form-horizontal .form-group.tag-days .wrap-days,
.widget-single-class-sidebar .class-info-sidebar .btn-toolbar.tag-days .wrap-days,
.widget-single-class-sidebar .class-info-sidebar .btn-group-vertical > .btn-group.tag-days .wrap-days {
  text-align: left;
  float: none;
}
.single-noo_class .timetable_week table th,
.single-noo_class .timetable_week table td {
  text-align: right;
}
.noo_event_slider .noo-event-slider-body h4 {
  text-align: right;
}
.noo_event_slider .noo-event-slider-body {
  text-align: right;
}
.noo-page-heading .noo-page-breadcrumb i {
  float: right;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.noo-page-heading .noo-page-breadcrumb span {
  float: right;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*# sourceMappingURL=rtl.css.map.css.map */